olakzadxml2/mplik.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="baza">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mieszkanie" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="lokalizacja"/>
              <xs:element type="xs:string" name="powierzchnia"/>
              <xs:element type="xs:byte" name="liczbapokoi"/>
              <xs:element type="xs:short" name="rokoddania"/>
              <xs:element type="xs:string" name="cena"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>